<!-- DEPENDÊNCIAS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

<!-- ESTILOS -->
<style>
    select {
        background-color: #475569; /* bg-slate-500 */
        color: white;
    }
    select option {
        background-color: white;
        color: black;
    }
    select option:checked {
        background-color: #475569; /* bg-slate-500 */
        color: white;
    }
    #addEventModal select {
        background-color: transparent !important; /* Remove a cor de fundo do dropdown no modal */
        color: black !important; /* Define a cor do texto como preto */
    }
    .mb-8 {
        margin-bottom: 2rem; /* Adiciona um espaço de 2rem abaixo do elemento */
    }
    .container {
        max-width: 800px; /* Define a largura máxima dos contêineres */
        margin: 0 auto; /* Centraliza os contêineres horizontalmente */
        width: 100%; /* Garante que os contêineres ocupem 100% da largura disponível */
    }
    .current-day {
    
        color: #000; /* Cor do texto para o dia atual */
        font-weight: bold; /* Texto em negrito */
    }
</style>

<!-- Form -->
<form method="get" action="{% url 'calendario' %}" id="terrenoForm" class="mb-8 py-4 mx-auto w-full container">
    <select name="terreno_id" class="text-3xl w-full px-4 py-2 border rounded-md bg-gray-300 text-gray-700 hover:bg-slate-400 focus:bg-slate-600 focus:text-white" onchange="document.getElementById('terrenoForm').submit();">
        {% for terreno in terrenos %}
            <option value="{{ terreno.id }}" {% if terreno.id == terreno_atual.id %} selected {% endif %}>
                {{ terreno.nome }}
            </option>
        {% endfor %}
    </select>
    <button type="submit" class="mt-2 w-full p-2 bg-slate-500 text-white rounded-md hover:bg-slate-300 hidden"></button>
</form>

<!-- Calendario -->
<div class="calendar-container bg-gray-300 rounded-lg py-4 mx-auto w-full px-5 container">
    <div class="flex items-center justify-between mb-4">
        <button id="prevMonth" class="bg-slate-500 rounded-xl py-2 px-4 text-lg font-bold text-white">
            <i class="mx-auto bi bi-chevron-left"></i>
        </button>
        <h2 id="monthYear" class="text-xl font-semibold"></h2>
        <button id="nextMonth" class="bg-slate-500 rounded-xl py-2 px-4 text-lg font-bold text-white">
            <i class="mx-auto bi bi-chevron-right"></i>
        </button>
    </div>
    <div class="grid grid-cols-7 gap-2 text-center font-semibold">
        <div>Dom</div>
        <div>Seg</div>
        <div>Ter</div>
        <div>Qua</div>
        <div>Qui</div>
        <div>Sex</div>
        <div>Sab</div>
    </div>
    <div id="calendarDays" class="grid grid-cols-7 mt-2 gap-1"></div>
</div>

<!-- Evento -->
<div id="eventModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white p-6 rounded-lg w-80">
        <h2 class="text-lg font-semibold mb-4 text-center highlight" id="modalDate">Dia</h2>
        <div id="eventList" class="mb-4"></div>
        <button onclick="openAddEventModal()" class="w-full bg-gray-500 text-white py-2 rounded-md mb-2">Adicionar Atividade</button>
        <button onclick="closeModal()" class="w-full bg-gray-500 text-white py-2 rounded-md">Fechar</button>
    </div>
</div>

<!-- Modal de Adição de Evento -->
<div id="addEventModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white p-6 rounded-lg w-80">
        <h2 class="text-lg font-semibold mb-4 text-center"><strong>Nova tarefa</strong></h2>
        <form id="addEventForm" class="space-y-4">
        <div>
            <label class="block text-sm font-medium text-gray-700">Nome</label>
            <input type="text" id="eventName" class="w-full mt-1 p-2 border border-gray-300 rounded-md bg-gray-200" placeholder="Nome da atividade" required>
        </div>

        <div>
            <label class="block text-sm font-medium text-gray-700">Descrição</label>
            <textarea id="eventDesc" class="w-full mt-1 p-2 border border-gray-300 rounded-md bg-gray-200" placeholder="Descreva sobre a atividade" rows="4" required></textarea>
        </div>

        <div>
            <select id="campoSelect" class="w-full mt-1 p-2 border border-gray-300 rounded-md" required>
            <option value="" disabled selected>Selecionar campo</option>
                {% for terreno in terrenos %}
                    <option value="{{ terreno.id }}" {% if terreno.id == terreno_atual.id %}selected{% endif %}>{{ terreno.nome }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="flex space-x-2">
            <div class="w-1/2">
                <label class="block text-sm text-gray-700 font-bold">Data de Início</label>
                <div class="flex items-center mt-1 space-x-2">
                    <input type="date" id="eventStartDate" class="w-full p-1 border border-gray-300 rounded-md bg-gray-200" required>
                </div>
            </div>
            <div class="w-1/2">
                <label class="block text-sm text-gray-700 font-bold">Data Final</label>
                <div class="flex items-center mt-1 space-x-2">
                    <input type="date" id="eventEndDate" class="w-full p-1 border border-gray-300 rounded-md bg-gray-200" required>
                </div>
            </div>
        </div>

        <div>
            <label class="block text-sm text-gray-700 font-bold">Cor da atividade</label>
            <div id="colorOptions" class="flex space-x-2 mt-1">
                <!-- Cores com quadrados clicáveis -->
                {% for cor in cores %}
                    <div class="color-square p-1 w-6 h-6 cursor-pointer rounded" data-color="{{cor}}" style="background-color: {{cor}};"></div> <!-- Isso funciona, a IDE que tá surtando, não é pra corrigir -->
                {% endfor %}
            </div>
            <input type="hidden" id="eventColor" value="#FF5733">
        </div>

        <div class="flex justify-center mt-4 space-x-4">
            <button type="button" onclick="closeAddEventModal()" class="bg-white border-2 border-gray-500 text-gray-500 py-2 px-8 rounded-md font-bold">Cancelar</button>
            <button type="submit" class="bg-gray-500 text-white py-2 px-8 rounded-md font-bold">Concluir</button>
        </div>
    </div>
</div>

<!-- Confirmar remoção -->
<div id="confirmRemoveModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white p-6 rounded-lg">
        <h2 class="text-lg font-semibold mb-4 text-center">Remover Atividade</h2>
        <p class="text-center mb-4">Você deseja remover esta atividade apenas deste dia ou de todos os dias?</p>
        <div class="flex justify-between">
            <button id="removeSingleDayBtn" class="bg-red-500 text-white text-md mx-4 p-3 rounded-md">Apenas deste dia</button>
            <button id="removeAllDaysBtn" class="bg-red-500 text-white text-md mx-4 p-3 rounded-md">Todos os dias</button>
        </div>
        <button onclick="closeConfirmRemoveModal()" class="w-full bg-gray-500 text-white py-2 rounded-md mt-4">Cancelar</button>
    </div>
</div>

<!-- Modal de confirmação -->
<div id="confirmationModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white p-6 rounded-lg w-80 opacity-0" id="confirmationModalContent">
        <h2 class="text-lg font-semibold mb-4 text-center text-green-600">Atividade Adicionada!</h2>
        <p class="text-center text-gray-700">Sua atividade foi adicionada com sucesso ao calendário.</p>
    </div>
</div>

<!-- JS -->
<script>
    const addEventForm = document.getElementById('addEventForm');
    const eventModal = document.getElementById('eventModal');
    const addEventModal = document.getElementById('addEventModal');
    const eventList = document.getElementById('eventList');

    let currentDate = new Date();
    let events = JSON.parse('{{ eventos|safe }}');
    let selectedDate = '';
    let eventIdToRemove = null;
    let removeSingleDay = false;

    function formatDate(day, month, year) {
        const dayStr = day.toString().padStart(2, '0');
        const monthStr = (month + 1).toString().padStart(2, '0');
        return `${year}-${monthStr}-${dayStr}`;
    }

    function parseDateBrazilianFormat(dateString) {
        const [day, month, year] = dateString.split('/').map(Number);
        return new Date(year, month - 1, day, 12, 0, 0);
    }

    function highlightCurrentDay() {
        const today = new Date();
        const currentDay = today.getDate();
        const calendarDays = document.querySelectorAll('.calendar-day');

        calendarDays.forEach(day => {
            if (parseInt(day.textContent) === currentDay) {
                day.classList.add('current-day');
            }
        });
    }

    function loadCalendar() {
        const calendarDaysContainer = document.getElementById('calendarDays');
        const monthYearDisplay = document.getElementById('monthYear');
        const year = currentDate.getFullYear();
        const month = currentDate.getMonth();
        
        calendarDaysContainer.innerHTML = '';
        monthYearDisplay.textContent = currentDate.toLocaleDateString('pt-BR', { month: 'long', year: 'numeric' });

        const firstDay = new Date(year, month, 1);
        const startDay = firstDay.getDay();

        // Adicionar células vazias antes do primeiro dia do mês
        for (let i = 0; i < startDay; i++) {
            calendarDaysContainer.appendChild(document.createElement('div'));
        }

        // Adicionar dias do mês
        for (let day = 1; day <= new Date(year, month + 1, 0).getDate(); day++) {
            const dayCell = document.createElement('div');
            dayCell.className = 'text-center py-2 cursor-pointer relative calendar-day';
            
            const dayNumber = document.createElement('div');
            dayNumber.textContent = day;
            dayNumber.className = 'font-bold day-number rounded-full w-8 h-8 flex items-center justify-center mx-auto';
            
            if (day === new Date().getDate() && month === new Date().getMonth() && year === new Date().getFullYear()) {
                dayNumber.classList.add('current-day', 'bg-gray-400');
            } else {
                dayNumber.classList.add('bg-white');
            }
            
            const date = formatDate(day, month, year);
            dayCell.dataset.date = date;
            dayCell.addEventListener('click', () => openModal(date));
            
            const eventBarsContainer = document.createElement('div');
            eventBarsContainer.className = 'event-bars flex flex-col gap-1 top-full left-0 right-0 mt-1';

            events.filter(e => e.data_inicio <= date && (!e.data_fim || e.data_fim >= date))
                .forEach(event => {
                    const eventBar = document.createElement('div');
                    eventBar.className = 'h-1 rounded w-full';
                    eventBar.style.backgroundColor = event.cor;
                    eventBarsContainer.appendChild(eventBar);
                });

            dayCell.appendChild(dayNumber);
            dayCell.appendChild(eventBarsContainer);
            calendarDaysContainer.appendChild(dayCell);
        }

        highlightCurrentDay();
    }

    function formatDateBrazilian(date) {
        const [year, month, day] = date.split('-');
        return `${day}/${month}/${year}`;
    }

    function openModal(date) {
        const modalDateDisplay = document.getElementById('modalDate');
        selectedDate = date;
        const formattedDate = formatDateBrazilian(date);
        modalDateDisplay.textContent = `Eventos para ${formattedDate}`;
        displayEvents(date);
        eventModal.classList.remove('hidden');
    }

    function closeModal() {
        eventModal.classList.add('hidden');
    }

    function openAddEventModal() {
        addEventModal.classList.remove('hidden');
    }

    function closeAddEventModal() {
        addEventModal.classList.add('hidden');
    }

    function displayEvents(date) {
        eventList.innerHTML = '';
        const eventsForDate = events.filter(e => e.data_inicio <= date && (!e.data_fim || e.data_fim >= date));
        if (eventsForDate.length === 0) {
            eventList.innerHTML = '<p class="text-gray-500 text-center">Nenhum evento para este dia.</p>';
        } else {
            eventsForDate.forEach(event => {
                const eventItem = document.createElement('div');
                eventItem.classList.add('bg-blue-100', 'p-2', 'rounded-md', 'mb-2', 'flex', 'justify-between', 'items-center');
                eventItem.innerHTML = `
                    <div class="flex flex-grow justify-between items-center">
                        <span class="inline-block w-3 h-3 rounded-full mr-2" style="background-color: ${event.cor};"></span>
                        <span class="truncate max-w-xs overflow-hidden whitespace-nowrap">${event.descricao}</span>
                        <button class="bg-red-500 text-white px-2 py-1 rounded-md" onclick="confirmRemoveEvent(${event.id}, '${date}', '${event.data_inicio}', '${event.data_fim}')">
                            <i class="bi bi-x-lg"></i>
                            </button>
                    </div>
                `;
                eventList.appendChild(eventItem);
            });
        }
    }

    function confirmRemoveEvent(eventId, date, dataInicio, dataFim) {
        eventIdToRemove = eventId;
        selectedDate = date;
        if (dataInicio !== dataFim) {
            document.getElementById('confirmRemoveModal').classList.remove('hidden');
        } else {
            removeSingleDay = false;
            removeEvent(eventIdToRemove);
        }
    }

    function closeConfirmRemoveModal() {
        document.getElementById('confirmRemoveModal').classList.add('hidden');
        eventIdToRemove = null;
        removeSingleDay = false;
    }

    function showConfirmationModal() {
        const confirmationModal = document.getElementById('confirmationModal');
        const confirmationModalContent = document.getElementById('confirmationModalContent');

        confirmationModal.classList.remove('hidden');

        anime({
            targets: confirmationModalContent,
            opacity: [0, 1],
            scale: [0.5, 1],
            duration: 500,
            easing: 'easeOutExpo'
        });

        setTimeout(() => {
            anime({
                targets: confirmationModalContent,
                opacity: [1, 0],
                scale: [1, 0.5],
                duration: 500,
                easing: 'easeInExpo',
                complete: function() {
                    confirmationModal.classList.add('hidden');
                    location.reload();
                }
            });
        }, 800);
    }

    function closeConfirmationModal() {
        document.getElementById('confirmationModal').classList.add('hidden');
    }

    document.getElementById('removeSingleDayBtn').addEventListener('click', () => {
        removeSingleDay = true;
        removeEvent(eventIdToRemove);
    });

    document.getElementById('removeAllDaysBtn').addEventListener('click', () => {
        removeSingleDay = false;
        removeEvent(eventIdToRemove);
    });

    function removeEvent(eventId) {
        const url = removeSingleDay ? `/calendario/${eventId}/?single_day=true&date=${selectedDate}` : `/calendario/${eventId}/`;
        fetch(url, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                location.reload(); // Recarregar a página após a remoção
            } else {
                console.error("Erro ao remover evento:", data.message);
                alert("Algo deu errado ao remover o evento. Verifique o console para mais detalhes.");
            }
        })
        .catch(error => {
            console.error("Erro na requisição:", error);
            alert("Algo deu errado ao remover o evento. Verifique o console para mais detalhes.");
        });
    }
    
    document.getElementById('addEventForm').addEventListener('submit', (e) => {
        e.preventDefault();
        const nome = document.getElementById('eventName').value;
        const descricao = document.getElementById('eventDesc').value;
        const data_inicio = selectedDate;
        const data_fim = document.getElementById('eventEndDate');
        const cor = document.getElementById('eventColor').value;
        const campoId = document.getElementById('campoSelect').value;

        const event = {
            nome,
            descricao,
            data_inicio,
            data_fim,
            cor,
            campos: [campoId],
        };

        fetch("{% url 'calendario' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify(event),
        })
        .then((response) => response.json())
        .then((data) => {
            if (data.status === "success") {
                event.id = data.evento_id;
                events.push(event);
                closeAddEventModal();
                loadCalendar();
                displayEvents(selectedDate);
                showConfirmationModal(); // Exibe o modal de confirmação
            } else {
                console.error("Erro ao adicionar evento:", data.message);
            }
        })
        .catch((error) => {
            console.error("Erro na requisição:", error);
            alert("Algo deu errado ao adicionar o evento. Verifique o console para mais detalhes.");
        });
    });

    document.getElementById("prevMonth").addEventListener('click', () => {
        currentDate.setMonth(currentDate.getMonth() - 1);
        loadCalendar();
    });

    document.getElementById('nextMonth').addEventListener('click', () => {
        currentDate.setMonth(currentDate.getMonth() + 1);
        loadCalendar();
    });


    document.addEventListener("DOMContentLoaded", function() {
        const eventColorInput = document.getElementById('eventColor');
        const colorOptions = document.getElementById('colorOptions');
        const eventStartDateInput = document.getElementById('eventStartDate');
        const eventEndDateInput = document.getElementById('eventEndDate');

        if (colorOptions) {
            colorOptions.addEventListener('click', (event) => {
                const option = event.target.closest('.color-square');
                if (option) {
                    colorOptions.querySelectorAll('.color-square').forEach(opt => opt.classList.remove('ring-2', 'ring-offset-2', 'ring-blue-500'));
                    option.classList.add('ring-2', 'ring-offset-2', 'ring-blue-500');
                    eventColorInput.value = option.getAttribute('data-color');
                }
            });
        }

        // Adiciona evento de clique aos dias do calendário
        document.querySelectorAll('.calendar-day').forEach(day => {
            day.addEventListener('click', (event) => {
                const clickedDate = event.target.getAttribute('data-date');
                if (clickedDate) {
                    eventStartDateInput.value = clickedDate;
                    openAddEventModal();
                }
            });
        });

        // Adiciona evento de envio ao formulário de adição de evento
        document.getElementById('addEventForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const eventName = document.getElementById('eventName').value;
            const eventDesc = document.getElementById('eventDesc').value;
            const campoSelect = document.getElementById('campoSelect').value;
            const eventStartDate = eventStartDateInput.value;
            const eventEndDate = eventEndDateInput.value;
            const eventColor = eventColorInput.value;

            // Verifique se todas as variáveis estão definidas
            if (!eventName || !eventDesc || !campoSelect || !eventStartDate || !eventEndDate || !eventColor) {
                alert('Por favor, preencha todos os campos.');
                return;
            }

            const event = {
                nome: eventName,
                descricao: eventDesc,
                terreno_id: campoSelect,
                data_inicio: eventStartDate,
                data_fim: eventEndDate,
                cor: eventColor
            };

            // Enviar o evento para o servidor
            fetch('/adicionar_evento/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(event)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.status === 'success') {
                    event.id = data.evento_id;
                    events.push(event);
                    closeAddEventModal();
                    loadCalendar();
                    displayEvents(selectedDate);
                    showConfirmationModal(); // Exibe o modal de confirmação
                } else {
                    console.error('Erro ao adicionar evento:', data.message);
                }
            })
            .catch(error => {
                console.error('Erro na requisição:', error);
                alert('Algo deu errado ao adicionar o evento. Verifique o console para mais detalhes.');
            });
        });
    });

    function closeAddEventModal() {
        document.getElementById('addEventModal').classList.add('hidden');
    }

    function openAddEventModal() {
        document.getElementById('addEventModal').classList.remove('hidden');
    }

    loadCalendar();

    document.addEventListener("DOMContentLoaded", function () {
        const monthYearDisplay = document.getElementById('monthYear');
        const currentDate = new Date();
        const options = { month: 'long' };
        const monthString = currentDate.toLocaleDateString('pt-BR', options);
        monthYearDisplay.textContent = monthString.charAt(0).toUpperCase() + monthString.slice(1);
    });
</script>