<!-- Botão FAB -->
{% include 'components/fab_btn.html' %}

<!-- Popup para menu perto do FAB -->
<div
  id="popup-menu"
  class="fixed right-4 bottom-44 w-44 bg-gray-500 rounded-lg p-1 hidden"
>
  <div class="p-2">
    <ul class="space-y-3">
      <li class="bg-slate rounded-xl py-1 flex items-center gap-4">
        <i class="bi bi-house-fill text-white text-2xl"></i>
        <a href="#" class="text-white font-bold text-md"
          >Clientes</a
        >
      </li>
      <li class="bg-slate rounded-xl py-1 flex items-center gap-4">
        <i class="bi bi-house-fill text-white text-2xl"></i>
        <a href="#" class="text-white font-bold text-md"
          >Novo plantio</a
        >
      </li>
      <li class="bg-slate rounded-xl py-1 flex items-center gap-4">
        <i class="bi bi-house-fill text-white text-2xl"></i>
        <a href="#" class="text-white font-bold text-md"
          >Novo campo</a
        >
      </li>
    </ul>
  </div>
</div>

<script>
  function togglePopupMenu() {
        const popupMenu = document.getElementById("popup-menu");

        if (popupMenu.classList.contains("hidden")) {
            popupMenu.classList.remove("hidden");

            anime({
                targets: "#popup-menu",
                opacity: [0, 1],
                translateY: [20, 0],
                duration: 500,
                easing: "easeOutExpo"
            });

            fabIcon.classList.remove("bi-plus-lg");
            fabIcon.classList.add("bi-x-lg");
        } else {
            anime({
                targets: "#popup-menu",
                opacity: [1, 0],
                translateY: [0, 20],
                duration: 200,
                easing: "easeInExpo",
                complete: function() {
                    popupMenu.classList.add("hidden");
                }
            });

            fabIcon.classList.remove("bi-x-lg");
            fabIcon.classList.add("bi-plus-lg");
        }
    }

    fabBtn.addEventListener("click", () => {
        animateFabClick();  
        togglePopupMenu();  
    });

</script>