<div class="w-full bg-gray-500 p-4 flex justify-around items-center rounded-t-3xl sticky bottom-0 z-50">
    <!-- Home Icon -->
    <a href="{% url 'home' %}" class="flex items-center justify-center h-12 w-12 {% if current_page == 'home' %}bg-white ring-2 ring-gray-700{% else %}bg-gray-400{% endif %} rounded-full shadow-lg">
        <i class="bi bi-house-fill text-gray-800 text-2xl"></i>
    </a>

    <!-- Add Icon -->
    <a href="{% url 'campos' %}" class="flex items-center justify-center h-12 w-12 {% if current_page == 'campos' %}bg-white ring-2 ring-gray-700{% else %}bg-gray-400{% endif %} rounded-full shadow-lg">
        <i class="bi bi-plus-circle-fill text-gray-800 text-2xl"></i>
    </a>

    <!-- Agenda Icon -->
    <a href="{% url 'home' %}" class="flex items-center justify-center h-12 w-12 {% if current_page == 'agenda' %}bg-white ring-2 ring-gray-700{% else %}bg-gray-400{% endif %} rounded-full shadow-lg">
        <i class="bi bi-calendar-fill text-gray-800 text-2xl"></i>
    </a>

    <!-- Clients Icon -->
    <a href="{% url 'home' %}" class="flex items-center justify-center h-12 w-12 {% if current_page == 'clientes' %}bg-white ring-2 ring-gray-700{% else %}bg-gray-400{% endif %} rounded-full shadow-lg">
        <i class="bi bi-person-fill text-gray-800 text-2xl"></i>
    </a>
</div>