{% for campo in campos %}

    <div class="bg-gray-300 my-2 p-4 rounded-lg flex items-center gap-3">
        <div class="flex items-center justify-center bg-gray-200 rounded-lg w-24 h-24">
            <i class="bi {{ campo.icon }} text-3xl text-gray-600"></i>
        </div>
        <div class="flex-1">
            <h2 class="text-gray-800 font-bold">{{ campo.nome }}</h2>
			<div class="flex gap-4 items-center">
				<p class="text-gray-600 font-bold text-sm">Quantidade de plantas:</p>
				<p class="text-gray-600 text-md">{{ campo.plantas|length }}</p>
			</div>

        </div>
		<a href="{% url 'detalhes-campo' campo.id %}">
			<i class="bi bi-caret-right-fill text-4xl"></i>
		</a>
        
    </div>
{% endfor %}
