<div class="fab-container">
    <button id="fab-btn" class="fixed right-4 bottom-20 bg-gray-600 text-white p-4 rounded-full shadow-lg focus:outline-none">
        <i id="fab-icon" class="bi bi-plus-lg text-2xl"></i>
    </button>

    <div id="popup-menu" class="hidden bg-white shadow-lg p-4 rounded-lg fixed bottom-32 right-4">
        <!--MENU AQUI-->
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const fabBtn = document.getElementById('fab-btn');
        const popupMenu = document.getElementById('popup-menu');
        const fabIcon = document.getElementById('fab-icon');

        fabBtn.addEventListener('click', () => {
            popupMenu.classList.toggle('hidden');

            // Alterna o ícone entre "+" e "X"
            if (popupMenu.classList.contains('hidden')) {
                fabIcon.classList.remove('bi-x-lg');
                fabIcon.classList.add('bi-plus-lg');
            } else {
                fabIcon.classList.remove('bi-plus-lg');
                fabIcon.classList.add('bi-x-lg');
            }
        });
    });
</script>