<div class="py-4 mx-auto w-full px-5">
    {% if error %}
    <p class="text-red-500 font-bold">{{ error }}</p>
    {% else %}
    <div class="flex justify-center space-x-4 bg-gray-500 text-white p-4 rounded-lg shadow-lg">
        <div class="flex items-center space-x-1">
            <span class="text-lg font-bold">{{ temperature }}°C</span>
            <img src="{{ icon }}" alt="{{ condition }}" class="w-6 h-6" />
        </div>
        
        <div class="flex items-center space-x-1 bg-gray-600 px-3 py-1 rounded-lg">
            <img src="{{ moon_icon }}" alt="{{ moon_phase }}" class="w-6 h-6" />
            <span class="text-lg font-semibold">{{ moon_phase }}</span>
        </div>
    </div>
    {% endif %}
</div>
