{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rizoma - Tarefas</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <style>   
      html,
      body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
      .content {
        flex: 1;
      }
      .custom-button {
        max-width: 350px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #475569; /* bg-slate-500 */
      }
      .header-placeholder {
        background-color: #e5e7eb; /* bg-gray-200 */
        height: 4rem; /* Altura do espaço do header */
      }
    </style>
  </head>
  <body class="bg-gray-200 flex flex-col min-h-screen">

    <!-- Espaço do Header -->
    <div class="header-placeholder"></div>

    <!-- Conteúdo Principal -->
    <div class="content p-4">
      <!-- Título e Ícone de Voltar -->
      <div class="flex items-center justify-between mb-4">
        <a href="{% url 'calendario' %}">
          <i class="bi bi-arrow-left text-2xl cursor-pointer"></i>
        </a>
        <h1 class="text-2xl font-bold">Tarefas ({{ num_tarefas }})</h1>
      </div>

      <!-- Barra de Pesquisa -->
      <div class="flex items-center mb-4">
        <input type="text" placeholder="Pesquisar" class="w-full p-2 border rounded-l-md">
        <button class="bg-gray-300 p-2 rounded-r-md">
          <i class="bi bi-search"></i>
        </button>
      </div>

      <!-- Botões de Filtro -->
      <div class="flex justify-center mb-4">
        <button class="bg-blue-500 text-white py-2 px-4 rounded-l-md">A fazer</button>
        <button class="bg-gray-300 text-gray-800 py-2 px-4 rounded-r-md">Concluídas</button>
      </div>

      <!-- Menu Suspenso -->
      <div class="mb-4">
        <select id="taskFilter" class="w-full p-2 border rounded-md">
          <!-- Opções de filtro -->
        </select>
      </div>

      <!-- Lista de Tarefas -->
      <div id="taskList" class="space-y-2">
        {% for evento in eventos %}
        <div class="task-item flex items-center p-2 bg-white rounded-md shadow" data-date="{{ evento.data_inicio }}">
          <input type="checkbox" class="mr-2">
          <span>{{ evento.nome }}</span>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Botão de Adição -->
    <button onclick="openAddEventModal()" class="fixed right-4 bottom-24 bg-blue-500 text-white p-4 rounded-full shadow-lg focus:outline-none">
      <i class="bi bi-plus-lg text-2xl"></i>
    </button>

    <!-- Modal de Adição de Evento -->
    <div id="addEventModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
      <div class="bg-white p-6 rounded-lg w-80">
        <h2 class="text-lg font-semibold mb-4 text-center">Adicionar Nova Atividade</h2>
        <form id="addEventForm" class="space-y-4">
          <div>
            <label class="block text-sm font-medium text-gray-700">Nome da Atividade</label>
            <input type="text" id="eventName" class="w-full mt-1 p-2 border border-gray-300 rounded-md" required>
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">Descrição</label>
            <textarea id="eventDescription" class="w-full mt-1 p-2 border border-gray-300 rounded-md" required></textarea>
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">Terreno</label>
            <select id="campoSelect" class="w-full mt-1 p-2 border border-gray-300 rounded-md" required>
              <option value="" disabled selected>Selecione um terreno</option>
              {% for terreno in terrenos %}
                <option value="{{ terreno.id }}" {% if terreno == terreno_atual %}selected{% endif %}>{{ terreno.nome }}</option>
              {% endfor %}
            </select>
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">Data Final</label>
            <div class="flex items-center mt-1 space-x-2">
              <input type="date" id="eventEndDate" class="w-full p-2 border border-gray-300 rounded-md">
              <label class="flex items-center space-x-2">
                <input type="checkbox" id="singleDay" class="form-checkbox h-9 w-9 text-blue-600">
                <span class="text-sm text-gray-700 font-medium">Dia Único</span>
              </label>
            </div>
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">Cor da Atividade</label>
            <div id="colorOptions" class="flex space-x-2 mt-1">
              <!-- Cores com quadrados clicáveis -->
              <div class="color-square p-1 w-6 h-6 cursor-pointer rounded" data-color="#FF0000" style="background-color: #FF0000;"></div> <!-- Vermelho -->
              <div class="color-square p-1 w-6 h-6 cursor-pointer rounded" data-color="#FD7E14" style="background-color: #FD7E14;"></div> <!-- Laranja -->
              <div class="color-square p-1 w-6 h-6 cursor-pointer rounded" data-color="#FFC107" style="background-color: #FFC107;"></div> <!-- Amarelo -->
              <div class="color-square p-1 w-6 h-6 cursor-pointer rounded" data-color="#28A745" style="background-color: #28A745;"></div> <!-- Verde -->
              <div class="color-square p-1 w-6 h-6 cursor-pointer rounded" data-color="#007BFF" style="background-color: #007BFF;"></div> <!-- Azul -->
              <div class="color-square p-1 w-6 h-6 cursor-pointer rounded" data-color="#8A2BE2" style="background-color: #8A2BE2;"></div> <!-- Violeta -->
              <div class="color-square p-1 w-6 h-6 cursor-pointer rounded" data-color="#FF5733" style="background-color: #FF5733;"></div> <!-- Laranja Escuro -->
              <div class="color-square p-1 w-6 h-6 cursor-pointer rounded" data-color="#17A2B8" style="background-color: #17A2B8;"></div> <!-- Azul Claro -->
              <div class="color-square p-1 w-6 h-6 cursor-pointer rounded" data-color="#DA70D6" style="background-color: #DA70D6;"></div> <!-- Rosa -->
              <div class="color-square p-1 w-6 h-6 cursor-pointer rounded" data-color="#FFFF00" style="background-color: #FFFF00;"></div> <!-- Amarelo Brilhante -->
            </div>
            <input type="hidden" id="eventColor" value="#FF5733">
          </div>
          <div class="flex justify-end space-x-2">
            <button type="button" onclick="closeAddEventModal()" class="bg-gray-500 text-white py-2 px-4 rounded-md">Cancelar</button>
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md">Adicionar</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Modal de Confirmação de Adição -->
    <div id="confirmationModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
      <div class="bg-white p-6 rounded-lg w-80 opacity-0" id="confirmationModalContent">
        <div class="flex justify-center mb-4">
          <i class="bi bi-check-circle text-green-600 text-4xl"></i>
        </div>
        <h2 class="text-lg font-semibold mb-4 text-center text-green-600">Atividade Adicionada!</h2>
        <p class="text-center text-gray-700">Sua atividade foi adicionada com sucesso ao calendário.</p>
      </div>
    </div>

    <!-- Barra de Navegação -->
    <div class="w-full bg-gray-300 p-4 flex justify-around items-center rounded-t-3xl fixed bottom-0 z-50">
      <a href="{% url 'home' %}" class="flex items-center justify-center h-12 w-12 bg-gray-400 rounded-full shadow-lg">
        <i class="bi bi-house"></i>
      </a>
      <a href="{% url 'campos' %}" class="flex items-center justify-center h-12 w-12 bg-gray-400 rounded-full shadow-lg">
        <i class="bi bi-tree"></i>
      </a>
      <a href="{% url 'calendario' %}" class="flex items-center justify-center h-12  w-12 bg-white ring-2 ring-gray-700 rounded-full shadow-lg">
        <i class="bi bi-calendar"></i>
      </a>
      <a href="#" class="flex items-center justify-center h-12 w-12 bg-gray-400 rounded-full shadow-lg">
        <i class="bi bi-box-seam"></i>
      </a>
    </div>

    <script>
      function openAddEventModal() {
        const addEventModal = document.getElementById('addEventModal');
        if (addEventModal) {
          addEventModal.classList.remove('hidden');
        } else {
          console.error('Modal de adição de evento não encontrado.');
        }
      }

      function closeAddEventModal() {
        const addEventModal = document.getElementById('addEventModal');
        if (addEventModal) {
          addEventModal.classList.add('hidden');
        } else {
          console.error('Modal de adição de evento não encontrado.');
        }
      }

      function showConfirmationModal() {
        const confirmationModal = document.getElementById('confirmationModal');
        const confirmationModalContent = document.getElementById('confirmationModalContent');

        confirmationModal.classList.remove('hidden');

        anime({
          targets: confirmationModalContent,
          opacity: [0, 1],
          scale: [0.5, 1],
          duration: 500,
          easing: 'easeOutExpo'
        });

        setTimeout(() => {
          anime({
            targets: confirmationModalContent,
            opacity: [1, 0],
            scale: [1, 0.5],
            duration: 500,
            easing: 'easeInExpo',
            complete: function() {
              confirmationModal.classList.add('hidden');
              location.reload();
            }
          });
        }, 800);
      }

      document.addEventListener('DOMContentLoaded', function() {
        const taskFilter = document.getElementById('taskFilter');
        const taskList = document.getElementById('taskList');
        const today = new Date().toISOString().split('T')[0];

        function fetchAtividades(date) {
          fetch(`/atividades/${date}/`)
            .then((response) => {
              if (!response.ok) {
                throw new Error("Network response was not ok");
              }
              return response.json();
            })
            .then((data) => {
              taskList.innerHTML =
                data.html ||
                '<p class="text-gray-600">Nenhuma atividade atribuída ao dia selecionado.</p>';
            })
            .catch((error) => {
              console.error("Erro ao buscar atividades:", error);
              taskList.innerHTML =
                '<p class="text-gray-600">Erro ao carregar atividades.</p>';
            });
        }

        taskFilter.addEventListener('change', function() {
          const filterValue = this.value;
          let date;

          if (filterValue === 'today') {
            date = today;
          } else if (filterValue === 'past') {
            date = new Date(new Date().setDate(new Date().getDate() - 1)).toISOString().split('T')[0];
          } else if (filterValue === 'future') {
            date = new Date(new Date().setDate(new Date().getDate() + 1)).toISOString().split('T')[0];
          }

          fetchAtividades(date);
        });

        // Fetch atividades on page load
        fetchAtividades(today);

        const singleDayCheckbox = document.getElementById('singleDay');
        const endDateInput = document.getElementById('eventEndDate');
        const eventColorInput = document.getElementById('eventColor');
        const colorOptions = document.querySelectorAll('.color-square');

        singleDayCheckbox.addEventListener('change', () => {
          if (singleDayCheckbox.checked) {
            endDateInput.disabled = true;
            endDateInput.classList.add('line-through', 'text-gray-400');
          } else {
            endDateInput.disabled = false;
            endDateInput.classList.remove('line-through', 'text-gray-400');
          }
        });

        colorOptions.forEach(option => {
          option.addEventListener('click', () => {
            colorOptions.forEach(opt => opt.classList.remove('ring-2', 'ring-offset-2', 'ring-blue-500'));
            option.classList.add('ring-2', 'ring-offset-2', 'ring-blue-500');
            eventColorInput.value = option.getAttribute('data-color');
          });
        });

        document.getElementById('addEventForm').addEventListener('submit', function(event) {
          event.preventDefault();
          
          const descricao = document.getElementById('eventName').value;
          const descricaoDetalhada = document.getElementById('eventDescription').value;
          const data_inicio = new Date().toISOString().split('T')[0]; // Data de início como a data atual
          const data_fim = document.getElementById('eventEndDate').value || data_inicio; // Use data_inicio se data_fim estiver vazia
          const campo_ids = [document.getElementById('campoSelect').value];
          const cor = document.getElementById('eventColor').value;

          const data = {
            descricao: descricao,
            descricao_detalhada: descricaoDetalhada,
            data_inicio: data_inicio,
            data_fim: data_fim,
            campos: campo_ids,
            cor: cor
          };

          console.log('Enviando dados:', data); // Adiciona log para verificar os dados enviados

          fetch('/calendario/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': getCookie('csrftoken') // Adicione o token CSRF se necessário
            },
            body: JSON.stringify(data)
          })
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            if (data.status === 'success') {
              // Exibe o modal de confirmação
              showConfirmationModal();
              // Atualize a lista de atividades
              fetchAtividades(new Date().toISOString().split('T')[0]);
            } else {
              alert('Erro: ' + data.message);
            }
          })
          .catch(error => {
            console.error('Erro na requisição:', error);
            alert('Algo deu errado ao adicionar o evento. Verifique o console para mais detalhes.');
          });
        });

        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
      });
    </script>
  </body>
</html>