{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Rizoma</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="min-h-screen bg-[#ffede4]">
    <div class="flex items-center justify-center min-h-screen px-4 md:px-8 lg:px-12">
      <div class="max-w-md w-full p-6 rounded-lg shadow-lg bg-[#f9e0cb]">
        <div class="text-center mb-6">
          <h2 class="text-3xl font-bold text-[#623721]">Rizoma</h2>
        </div>

        {% if user.is_authenticated %}
          <p class="text-center text-[#623721]">Usuário logado como: {{ user.username }}</p>

          <form method="post" action="{% url 'logout' %}" class="mt-4">
            {% csrf_token %}
            <button
              type="submit"
              class="w-full px-4 py-2 rounded-md bg-[#899953] text-[#ffede4] font-medium hover:bg-[#7a8648] focus:outline-none focus:ring-2 focus:ring-[#f09b6a]"
            >
              Sair
            </button>
          </form>

        {% else %}
          <form method="post" class="space-y-4">

            {% csrf_token %}
            <div>
              <label for="username" class="block mb-1 text-[#623721] font-medium">E-mail</label>
              <input
                id="username"
                name="username"
                type="text"
                placeholder="Digite seu e-mail"
                required
                class="w-full px-4 py-2 rounded-md border-2 border-[#899953] bg-[#ffede4] focus:outline-none focus:ring-2 focus:ring-[#f09b6a]"
              />
            </div>

            <div>
              <label for="password" class="block mb-1 text-[#623721] font-medium">
                Senha
              </label>

              <input
                id="password"
                name="password"
                placeholder="Digite sua senha"
                type="password"
                required
                class="w-full px-4 py-2 rounded-md border-2 border-[#899953] bg-[#ffede4] focus:outline-none focus:ring-2 focus:ring-[#f09b6a]"
              />
            </div>

            <button
              type="submit"
              class="w-full px-4 py-2 rounded-md bg-[#899953] text-[#ffede4] font-medium hover:bg-[#7a8648] focus:outline-none focus:ring-2 focus:ring-[#f09b6a]"
            >
                Login
            </button>

          </form>

          <!-- Login com Google -->
          <div class="flex justify-center space-x-4 mt-4">
            <a
              href="{% url 'social:begin' 'google-oauth2' %}"
              class="w-full px-4 py-2 rounded-md bg-[#dd4b39] text-[#ffede4] font-medium hover:bg-[#c23321] focus:outline-none focus:ring-2 focus:ring-[#f09b6a] text-center"
            >
              Login com Google
            </a>
          </div>

          <div class="text-center mt-4">
            <a href="{% url 'cadastrar' %}" class="text-[#623721] font-medium">Cadastrar</a>
          </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
